<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"
      ><img src="/images/logo.png" alt="logo" width="45"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item me-5">
          <a class="nav-text" href="/listings-loggedin">LISTINGS</a>
        </li>
        <li class="nav-item me-5">
          <a class="nav-text" href="/profile">PROFILE</a>
        </li>  
      </ul>
      <div>
        <a href="/logout"><button class="btn btn-outline-light" type="submit">LOG OUT</button></a> 
      </div> 
    </div>
  </div>
</nav>
