<%- include('partials/head')%>
<body>
  <header><%- include('partials/nav')%></header>
  <main>
    <div class="container p-5">
      <div class="full-screen align-items-center">
        <div class="row align-items-center">
          <div class="col-lg-5 mt-5">
            <img
              src="images/adolfo-felix-RTEbHyyZtnU-unsplash.jpg"
              alt="an antique Zinger sawing machine"
              style="width: 80%"
            />
          </div>
          <div class="logo-text col-lg-7 mt-5">
              Our <span>online auction platform</span>  is more than a marketplace; it's a brainchild of a <span>team of seasoned experts</span> with a deep appreciation for the stories embedded in each antique. 
          </div>
        </div>
        <div class="row align-items-center">
          <div class="logo-text col-lg-7 mt-5">
            Our mission is to <span>connect collectors all around the world</span>  with the <span>treasures</span> that resonate with their unique tastes.
          </div>
          <div class="col-lg-5 mt-5">
              <img
                src="images/mick-haupt-9JEHaCUgOmM-unsplash.jpg"
                alt="An antique watch"
                style="width: 80%"
              />
            </div>
        </div>
      </div>
      
      <div class="row align-items-center">
        <div class="col-lg-5 mt-5">
            <img
              src="images/pawel-czerwinski-Cb1bLUz2oio-unsplash.jpg"
              alt="An antique watch"
              style="width: 80%"
            />
          </div>
          <div class="logo-text col-lg-7 mt-5">
            Do you have a <span>piece of history</span> tucked away in your home? Auction House
          is the perfect stage to <span>showcase your treasures</span> . 
        </div>
      </div>
      <div class="row align-items-center">
        <div class="logo-text col-lg-7 mt-5">
            We offer an <span>online platform</span> that seamlessly blends the excitement of a <span>live auction</span> with the convenience of <span>digital accessibility.</span>  
        </div>
        <div class="col-lg-5 mt-5">
          <img
            src="images/daniele-levis-pelusi-EHfiW-cV0ls-unsplash.jpg"
            alt="an antique book"
            style="width: 80%"
          />
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 mt-5">
            <img
              src="images/alexander-schimmeck-CCJGadKQXxI-unsplash.jpg"
              alt="A shelf of antiques"
              style="width: 80%"
            />
          </div>
          <div class="logo-text col-lg-7 mt-5">
            <span>Subscribe</span> to our newsletter, <span>participate</span> in events, and <span>connect</span> with fellow enthusiasts.
        </div>
      </div>
    </div>
  </main>
  <%- include('partials/footer')%>
</body>
</html>