<%- include('partials/head')%>
<body>
  <header><%- include('partials/nav')%></header>
  <main>
    <div class="container text-center p-2">
      <div class="row align-items-center">
        <div class="col-lg-5 mt-5">
          <img
            src="images/adolfo-felix-RTEbHyyZtnU-unsplash.jpg"
            alt="an antique Zinger sawing machine"
            style="width: 80%"
          />
        </div>
        <div class="about-text col-lg-7 mt-5">
          Our online auction platform is more than a marketplace;
          it's a brainchild of a team of seasoned experts with a
          deep appreciation for the stories embedded in each antique.
        </div>
      </div>
      <div class="row align-items-center">
        <div class="about-text col-lg-7 mt-5">
          Our mission is to
          connect collectors all around the world with the
          treasures that resonate with their unique tastes.
        </div>
        <div class="col-lg-5 mt-5">
          <img
            src="images/mick-haupt-9JEHaCUgOmM-unsplash.jpg"
            alt="An antique watch"
            style="width: 80%"
          />
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 mt-5">
          <img
            src="images/pawel-czerwinski-Cb1bLUz2oio-unsplash.jpg"
            alt="An antique watch"
            style="width: 80%"
          />
        </div>
        <div class="about-text col-lg-7 mt-5">
          Do you have a piece of history tucked away in your home?
          Auction House is the perfect stage to
          showcase your treasures.
        </div>
      </div>
      <div class="row align-items-center">
        <div class="about-text col-lg-7 mt-5">
          We offer an online platform that seamlessly blends the
          excitement of a live auction with the convenience of
          digital accessibility.
        </div>
        <div class="col-lg-5 mt-5">
          <img
            src="images/daniele-levis-pelusi-EHfiW-cV0ls-unsplash.jpg"
            alt="an antique book"
            style="width: 80%"
          />
        </div>
      </div>
      <div class="row align-items-center mb-5">
        <div class="col-lg-5 mt-5">
          <img
            src="images/alexander-schimmeck-CCJGadKQXxI-unsplash.jpg"
            alt="A shelf of antiques"
            style="width: 80%"
          />
        </div>
        <div class="about-text col-lg-7 mt-5">
          Subscribe to our newsletter, participate in
          events, and connect with fellow enthusiasts.
        </div>
      </div>
    </div>
  </main>
  <%- include('partials/footer')%>
</body>
</html>
