<%- include('partials/head')%>
<body>
  <header><%- include('partials/nav')%></header>
  <main>
    <div class="flex-container">
      <div class="row justify-content-around d-flex align-items-center">
        <div class="col-lg-5 col-md-10 mt-5 text-center">
          <div class="p-2">
            <img src="images/Logo.png" alt="logo of the Auction House" />
          </div>
          <div class="p-2 mt-3 logo-text">
            <span>BID</span> BOLDLY <br />
            <span>WIN</span> BEAUTIFULLY <br />
            YOUR <span>TREASURES</span> AWAIT!
          </div>
        </div>
        <div class="col-lg-3 col-md-10 mt-5 p-2">
          <form action="/login-form" method="POST" id="login-form">
            <div class="mb-3">
              <label for="email" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                aria-label="email"
                required
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                aria-label="password"
                required
              />
            </div>
            <div class="d-grid gap-2">
              <input type="submit" class="btn btn-primary mt-4" value='LOG IN'>
            </div>
          </form>
          <div class="white-text p-2 mt-3">
            Not registered? <a href="/register">Create an account</a>
          </div>
          <div class="d-grid gap-2 my-5">
            <a href="/listings" class="btn btn-primary mt-4">BROWSE</a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include('partials/footer')%>
</body>
</html>
