<%- include('partials/head')%>
<body>
  <header><%- include('partials/nav-loggedin')%></header>
  <main>
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-4 mt-5 text-center">
          <img
            src="/images/pawel-czerwinski-Cb1bLUz2oio-unsplash.jpg"
            alt="avatar"
            class="rounded-circle"
            style="height: 250px; width: 250px"
          />
          <div class="g-3 mb-3">
            <a href="/avatar" class="btn btn-outline-primary mt-4"
              >UPDATE AVATAR</a
            >
          </div>
        </div>
        <div class="col-lg-4 mt-5">
          <div class="card p-3 mb-5">
            <div class="card-header">NAME</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">email</li>
              <li class="list-group-item">number of credits</li>
            </ul>
          </div>
          <div class="card p-3">
            <div class="card-header">YOUR LISTINGS</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                listing 1
                <div class="g-3 mb-3">
                  <a href="/listing" class="btn btn-outline-primary mt-4"
                    >UPDATE</a
                  >
                </div>
              </li>
              <li class="list-group-item">
                listing 2
                <div class="g-3 mb-3">
                  <a href="/listing" class="btn btn-outline-primary mt-4"
                    >UPDATE</a
                  >
                </div>
              </li>
              <li class="list-group-item">
                listing 3
                <div class="g-3 mb-3">
                  <a href="/listing" class="btn btn-outline-primary mt-4"
                    >UPDATE</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 mt-5">
          <div class="card p-3">
              <div>CREATE A NEW LISTING</div>
              <form action="/listings" method="POST">
                <div class="mb-3 mt-2">
                  <label for="title" class="form-label">Title</label>
                  <input
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    aria-label="title"
                    required
                  />
                </div>
                <div class="mb-3 mt-2">
                  <label for="endsAt" class="form-label">Deadline date</label>
                  <input
                    type="date"
                    class="form-control"
                    id="endsAt"
                    name="endsAt"
                    aria-label="deadline date"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label"
                    >Description</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="description"
                    name="description"
                    aria-label="title"
                    required
                  />
                </div>
                <div class="mb-3">
                    <label for="media" class="form-label"
                      >Media</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="media"
                      name="media"
                      aria-label="media"
                      required
                    />
                  </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include('partials/footer')%>
</body>
</html>
