<%- include('partials/head')%>
<body>
    <header>
        <%- include('partials/nav')%>
    </header>
    <main>
        <div class="container">
            <div class="row justify-content-around d-flex align-items-center">
                <div class="col-lg-5 mt-5 p-2">
                    <img src="images/veronika-jorjobert-CYesIXViKFs-unsplash.jpg" alt="a painting of flowers" style="width: 400px;">   
                </div>
                <div class="col-lg-5 mt-5 p-2">
                    <div class="logo-text mb-5 p-2">Every new registered user gets <span>1000 credits</span> for buying items on the site.</div>
                    <form action="register-form" method="POST" id="register-form">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" aria-label="name" required>
                          </div>
                        <div class="mb-3">
                          <label for="email" class="form-label">Email with @(stud)noroff.no</label>
                          <input type="email" class="form-control" id="email" name="email" aria-label="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password, min 8 characters</label>
                            <input type="password" class="form-control" id="password" name="password" aria-label="password" minlength="8" required>
                        </div>
                        <div class="mb-3">
                            <label for="userAvatar" class="form-label">Avatar</label>
                            <div class="input-group">
                              <span class="input-group-text" id="basic-addon3">add a link</span>
                              <input type="text" class="form-control" id="userAvatar" name="userAvatar" aria-label="avatar">
                            </div>
                        </div>
                        <div class="d-grid gap-2 mt-5 mb-5">
                            <input type="submit" class="btn btn-primary" value="REGISTER" />
                        </div>    
                      </form>
                </div>
            </div>
        
        </div>
    </main>
    <%- include('partials/footer')%>
</body>
</html>