$primary: #8c7345;
$bg-color: #0f2334;
$logo-text: #F2F2F2;
$black-color: black;
$logo-font: 'Cinzel', serif;

main {
  background-color: $bg-color;
  min-height: calc(100vh - 0.5rem);
}

/*  * {
  border: solid red 1px;
}*/

nav,
footer {
  background-color: $primary;
  font-family: $logo-font;
  font-size: 18px;
  font-weight: bold;

}

footer {
  min-height: 0.25rem;
}

footer a {
  color: $black-color;
  text-decoration: none;
}

.logo-text {
  color: $logo-text;
  font-family: $logo-font;
  font-size: 30px;
}

.auction-logo {
  width: 100%;
  height: auto;
}

span {
  color: $primary ;
}

.form-label {
  color: $logo-text;
}

.white-text {
  color: $logo-text;
  font-size: 20px
}

.about-text {
  color: $logo-text;
  font-family: $logo-font;
  font-size: 22px;
  line-height: 3;
}
 
.listing-container {
  background-color: $logo-text;
}

.top-btn {
  color: #F2F2F2;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
}

@import "../node_modules/bootstrap/scss/bootstrap";
